{% extends 'base.html' %}
{% block content %}
<form>
    <div class=" row">
        <div class="col-auto">    
            <input class="form-control"  type="text" name="keyword" value ="{{keyword | default:''}}" placeholder="Please enter keyword">
        </div>
        <div class="col-auto">  
            <input class="btn btn-outline-primary" type="submit" value="Search">
        </div>
        <div class="col-auto"> 
                <select name="selectsort" >
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="code">code</option>
                    <option value="name">name</option>
                    <option value="phone">phone</option>
                    <option value="email">email</option>
                    <option value="address">address</option>
                </select>  
        </div>
        <div class="col-auto"> 
            <input class="btn btn-outline-primary" type="submit" value="Sort">
        </div>
    </div>
</form>


<table class="table table-striped table-hover; table-warning">
    <thred >
        <th>Code</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Vehicle</th>
        <th> <a href="/parkingmanage/create" class="btn btn-outline-success"> Add </a> </th>
    </thred>
    <body>
        {% for user in users %}
        <tr class="table-warning"> 
            <td>{{user.code}}</td>
            <td> <a href= "{{user.get_absolute_url}}">{{user.name}}</a></td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td> <a href= "{% url 'view_vehicle' user.id%}"> View </a> </td>
            <td>
                <a href="{% url 'update' user.id%}" class="btn btn-outline-primary"> Update </a>
                <a href="{% url 'delete' user.id%}" class="btn btn-outline-danger"> Delete </a>
            </td>
        </tr>
        {% endfor %}
    </body>
</table>
    <!-- <p> {{user.id}}            
    <a href = "{{user.get_absolute_url }}" > {{user.name}}</p> -->
{% endblock %}

