{% extends 'base.html' %}
{% block content %}
<div class="col-md-12 col-sm-12 col-xs-10">
    <div class="card mb-3">
        <div class="card-header text-primary">
        <i class="fas fa-car-alt text-secondary"></i>
            Loglist
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-auto">    
                        <input class="form-control" type="text" name="keyword" value ="{{keyword | default:''}}" placeholder="Please enter keyword">
                    </div>
                    <div class="col-auto"> 
                        <input class="btn btn-outline-primary" type="submit" value="Search">
                    </div>
                    <div class="col-auto"> 
                        <select name="selectsort">
                            <option value="" selected disabled hidden>Choose here</option>
                            <option value="logId">Log ID</option>
                            <option value="vehicle">Vehicle</option>
                        </select>
                    </div>
                    <div class="col-auto"> 
                        <input class="btn btn-outline-primary" type="submit" value="Sort">
                    </div>
                </div>
            </form>


            <table class="table table-striped table-hover; table-warning">
                <thred>
                    <th>LogID</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Vehicle</th>
                    <th> <a href="/parkingmanage/parkinglog/create" class="btn btn-success"> Add </a> </th>
                </thred>
                <body>
                    {% for log in logs %}
                    <tr> 
                        <td>{{log.logId}}</td>
                        <td>{{log.timeIn}}</td>
                        <td>{{log.timeOut}}</td>
                        <td> <a href= "{% url 'detail_vehicle' log.vehicle.id%}"> {{log.vehicle.licensePlate}} </a></td>
                        <td>
                            <a href="{% url 'update_log' log.id%}" class="btn btn-primary"> Update </a>
                            <a href="{% url 'delete_log' log.id%}" class="btn btn-danger"> Delete </a>
                        </td>
                    </tr>
                    {% endfor %}
                </body>
            </table>
        </div>
    </div>
</div>
{% endblock %}

