{% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/parkingmanage">Parking Management</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/parkingmanage/">   User   </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/parkingmanage/vehicle">   Vehicle   </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/parkingmanage/parkinglog">   Log   </a>
        </li>
      </ul>
    </div>
  </div>
</nav> {% endcomment %}


<nav>
  <ul class="mcd-menu">
    <li>
      <a href="">
        <i class="fa fa-home"></i>
        <strong>Home</strong>
      </a>
    </li>
    <li>
      <a href="" class="active">
        <i class="fa fa-edit"></i>
        <strong>User</strong>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa fa-gift"></i>
        <strong>Vehical</strong>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa fa-globe"></i>
        <strong>Contact</strong>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa fa-comments-o"></i>
        <strong>About</strong>
      </a>
      <ul>
        {% comment %} <li><a href="#"><i class="fa fa-globe"></i>Mission</a></li>
        <li>
          <a href="#"><i class="fa fa-group"></i>Our Team</a>
          <ul>
            <li><a href="#"><i class="fa fa-female"></i>Leyla Sparks</a></li>
            <li>
              <a href="#"><i class="fa fa-male"></i>Gleb Ismailov</a>
            </li>
            <li><a href="#"><i class="fa fa-female"></i>Viktoria Gibbers</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-trophy"></i>Rewards</a></li>
        <li><a href="#"><i class="fa fa-certificate"></i>Certificates</a></li> {% endcomment %}
      </ul>
    </li>
    <li>
      <a href="">
        <i class="fa fa-picture-o"></i>
        <strong>Portfolio</strong>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa fa-envelope-o"></i>
        <strong>Admin</strong>
      </a>
    </li>
  </ul>
</nav>
